---
---

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'normalize';
@import 'infl';
@import 'syntax-highlighting';

pre {
  background-color: #FAFAFA;
  padding: 25px;
  border: solid 1px #CCC;
}

body {
  font-family: 'Open Sans';
}
