---
layout: default
---

<div class="home">
  <section class='hero-unit' id='crafters'>
    <div class='details'>
      <img src="{{ "/images/base/influitive_logo_white_one.png" | prepend: site.baseurl }}" />
      <h1>Influitive Crafters</h1>
    </div>
  </section>
  <div class='branding-bar'></div>

  <section class='mission'>
    <h2 class="section-title">Building products our customers <3.</h2>
    <p class="details">
      Influitive builds tools to help build and mobilize armies of
      advocates. We feel that the most honest marketing comes not
      from what a company says, but from the genuine enthusiasm and
      love their fans and happy users have for their products.
    </p>

    <p class="details">
      Our engineering team strives to create products that people
      love as well, by putting thought and care behind everything that
      we do.
    </p>
  </section>

  <!--<section class='events' id='events'>
    <h2 class='section-title'>UPCOMING EVENTS</h2>

    <ul class='event-list'>
      {% for post in site.categories["events"] %}
        <li class="event">
          <a href='{{ post.url }}'>
            <span class="event-header">
              <img src="{{ post.image }}" />
            </span>
            <span class="calendar">
              <span class="event-date" data-date="{{ post.date }}">
                <span class="day"></span>
                <span class="month"></span>
              </span>
            </span>
            <span class="details">
              <span class="title">{{ post.title }}</span>
              <span class="location">
                <span>@ {{post.location }}</span>
              </span>
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>-->

  <div class='branding-bar'></div>

  {% assign posts = site.categories["news"] %}
  {% include posts.html title="Recent Blog Posts" posts=posts %}

  <section class='team' id='team'>
    <h2 class='section-title'>MEET THE CRAFTERS</h2>

    <ul class='team-list'>
      {% for post in site.categories["team"] %}
        <li class="member">
          <a href='{{ post.url }}'>
            <img src="/images/team/{{ post.name | slugify }}.jpg" />
            <span class="name">{{ post.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class='open-source' id='open-source'>
    <h2 class="section-title">OPEN SOURCE @ INFLUITIVE</h2>

    <ul class='projects'>
      {% assign sorted_repos = (site.categories["opensource"] | sort: 'stars' | reverse) %}
      {% for post in sorted_repos %}
        <li class="project">
          <h4 class="title">{{ post.title }}</h4>
          <div class="github-status">
            <span class="stars">
              <span class="ic ic-star"></span>
              {{ post.stars }}
            </span>
            <span class="forks">
              <span class="ic ic-share"></span>
              {{ post.forks }}
            </span>
          </div>
          <p class="description">{{ post.description }}</p>
          <div class="actions">
            <a href='{{ post.url }}' class="button important">View on Github</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

<script type="text/javascript" src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>
