---
layout: default
---

<div class="home">

  <section class='hero-unit'>
      <h1>Influitive Crafters</h1>
      <p>Super witty tagline</p>
    </section>

    <section class='details'>
      <p>Stuff about Influitive. Why craftsmanship is important to us.
        Why we're cool.</p>
    </section>

    <section class='events'>
      <h2>Upcoming Events</h2>

      <ul class='article-list'>
        {% for post in site.categories["events"] %}
          <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section class='team'>
      <h2>Meet the Team</h2>

      <ul class='article-list'>
        {% for post in site.categories["team"] %}
          <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section class='open-source'>
      <h2>Open Source @ Influitive</h2>

      <ul class='article-list'>
        {% for post in site.categories["opensource"] %}
          <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section class='article-list'>
      <h2>Recent Blog Posts</h2>

      <ul class='article-list'>
        {% for post in site.categories["news"] %}
          <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
