<section class='branding'>
  <h1 id="logo">
    <span>Influitive</span>
  </h1>
  <ul id="nav-bar">
    <li>
      <a href="/">Home</a>
    </li>
    <!--li>
      <a href="#events">Upcoming Events</a>
    </li>
    <li>
      <a href="#recent-posts">Recent Posts</a>
    </li>
    <li>
      <a href="#team">The Crafters</a>
    </li>
    <li>
      <a href="#open-source">Open Source</a>
    </li-->
  </ul>
  <a class="hiring" href="http://influitive.com/company/careers-influitive/" target="_blank">We're Hiring!</a>
</section>
