---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="post-title">
      <h1>{{ page.title }}</h1>
      {{ page.date | date: "%b %-d, %Y" }}
    </div>

    {% if page.author %}
      <div class="post-meta">
        <img class='author-image' src='/images/team/{{ page.author | slugify }}.jpg' />
        <div class="byline">
          {% assign author = site.authors[page.author] %}
          {% if author %}
            <a href='{{ author.url }}'>{{ page.author }}</a>
          {% else %}
            {{ page.author }}
          {% endif %}
        </div>
      </div>
    {% endif %}

  </header>

  <div class='branding-bar'></div>

  <article class="post-content">
    {{ content }}

    <div class='sharing'><em>Like this? Share it! </em></div>
    <div>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_reddit_large' displayText='Reddit'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
  </article>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'influitivecrafters';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
